@media (max-width: 1200px) {
	#s6 {
		.container {
			flex-direction: column;
			align-items: center;
		}

		.col-7 {
			width: 100%;
		}

		.column-1 {
			h3,
			p {
				text-align: center;
			}

			form,
			.but {
				margin: auto;
				margin-bottom: 2rem;
				width: 100%;
			}

			.btn:first-child {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}

		.column-2 .wrapper {
			background-size: cover;
			width: 95%;
			margin: auto;
		}

		.col-5 {
			max-width: 100%;
		}
	}
}

@media (max-width: 991px) {
	.navbar {
		padding: 1rem 1.8rem !important;
	}

	.nav-item {
		display: flex;
		justify-content: end;
	}

	#s1 h1 {
		font-size: 2rem;
	}

	#s1 h2 {
		font-size: 1.5rem;
	}
	#s2 .container img:nth-child(7) {
		display: none;
	}

	#s2 .container img:nth-child(8) {
		display: flex;
	}

	#s2 .container p:nth-child(4) {
		margin-bottom: 1rem;
	}

	#s2 .container div:nth-child(5) {
		margin-bottom: 1rem;
	}

	#s2 ul {
		display: flex;
		flex-direction: column;
		width: 14.125rem;
		text-align: left;
		margin: auto;
		list-style-type: none;

		li {
			display: flex;
		}

		li:before {
			width: 0.9375rem;
			height: 0.9375rem;
			content: url("../img/Forma7.png");
			margin-right: 0.625rem;
			margin-top: -3px;
			align-self: center;
		}
	}

	#s3 .carousel-inner {
		width: 80%;
		overflow: hidden;
		margin: auto;
	}

	#s3 .row .col:nth-child(4) {
		display: none;
	}

	#s3 .row .col:nth-child(3) {
		display: none;
	}

	#s3 #carousel .carousel-control-next {
		right: 0rem !important;
	}

	#s3 #carousel .carousel-control-prev {
		left: 0rem !important;
	}
}

@media (max-width: 768px) {
	#s1 .container {
		padding: 9rem 0.9375rem 1.75rem 0.9375rem;
	}

	#s1 h1 {
		font-size: 1.5rem;
		line-height: 3.5rem;
	}

	#s1 div a {
		margin-top: 2rem;
	}

	#s2 h3 {
		font-size: 1.5rem;
	}

	#s3 .container {
		padding: 3rem 0.9375rem 2rem 0.9375rem;
	}

	#s3 h3 {
		font-size: 1.5rem;
	}

	#s3 #carousel .carousel-indicators {
		top: 18rem;
	}

	#s3 .text {
		margin-top: 3.5rem;
	}

	#s3 .btn {
		margin-top: 1.5rem;
	}

	#s4 h3 {
		font-size: 1.5rem;
	}

	#s4 p:nth-child(3) {
		margin-bottom: 1.3rem;
	}

	#s4 .partners {
		margin-top: 2.2rem;
	}

	#s5 .container {
		padding: 2.5rem 0.9375rem 2.8125rem 0.9375rem;
	}

	#s5 h3 {
		font-size: 1.5rem;
	}

	#s5 a {
		margin-top: 1.4rem;
	}

	#s6 .container {
		padding: 2.6rem 0.5rem 0 0.5rem;
	}

	#s6 .column-2 .wrapper {
		background-image: none;
	}

	#s6 .frame1 {
		width: 300px;
		height: 41px;
		background-image: url("../img/Frame1.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	#s6 .column-2 .wrapper p:nth-child(2) {
		margin-left: -2rem;
	}
}

@media (max-width: 576px) {
	#s1 .container {
		padding: 8rem 0.9375rem 1.75rem 0.9375rem;
	}

	#s1 h1 {
		font-size: 1.5rem;
	}

	#s1 h2 {
		font-size: 1rem;
	}

	#s1 p:nth-child(4) {
		margin-bottom: 1.4rem;
	}

	#s1 .btn {
		margin-bottom: 1rem;
	}

	#s1 div a {
		margin-top: 0.5rem;
	}

	#s2 .container {
		padding: 1.9rem 0.9375rem 1.75rem 0.9375rem;
	}

	#s3 .container {
		padding: 3rem 0.9375rem 2rem 0.9375rem;
	}

	#s3 h3 {
		margin-bottom: 1rem;
	}

	#s3 .row .col:nth-child(2) {
		display: none;
	}

	#s3 .carousel-inner {
		width: 70%;
		margin: auto;
	}

	#s3 #carousel .carousel-control-next {
		right: 2rem;
	}

	#s3 #carousel .carousel-control-prev {
		left: 2rem;
	}

	#s3 #carousel .carousel-indicators {
		top: 16rem;
	}

	#s4 .container {
		padding: 1.5rem 0.9375rem 1.5rem 0.9375rem;
	}

	#s5 .container {
		padding: 1.5rem 0.9375rem 1.5rem 0.9375rem;
	}

	#s6 .container {
		padding: 1.5rem 0.5rem 0 0.5rem;
	}

	#s6 .column-1 .but {
		flex-direction: column;
		width: 50%;
	}
	#s6 .column-2 .wrapper {
		background-size: cover;
		width: 100%;
		margin: auto;
	}

	#s6 .column-2 .wrapper p:first-child {
		font-size: 1.3rem;
	}

	#s6 .column-2 .wrapper p:nth-child(2) {
		font-size: 5rem;
		margin-bottom: 2rem;
	}
	#s6 .column-2 .wrapper p:nth-child(4) {
		font-size: 2rem;
		letter-spacing: 0rem;
	}
}
